*{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/*a:hover{
    -webkit-transition: all 250ms ease 15ms;
    -moz-transition: all 250ms ease 15ms;
    -o-transition: all 250ms ease 15ms;
    transition: all 250ms ease 15ms;
}*/

*:focus{outline:none;}

a{text-decoration: none;}
a img{border:none;}
strong, b{font-weight: bold;}

ul{list-style: none;}

.radius{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}

.shadow{
    -moz-box-shadow:0px 0px 5px #333;
    -webkit-box-shadow:0px 0px 5px #333;
    box-shadow:0px 0px 5px #333;
}

.clear{clear:both;}

#tinymce .mceContentBody p { font-family: sans-serif; font-size: 18px; }