<header class="main-header">
    <div class="container">
        <hgroup>
            <h1>Cidade Online - Eventos, Promoções e Novidades!</h1>
            <h2>Confira os eventos, promoções e novidades em sua cidade. Aqui, no Cidade Online!</h2>
        </hgroup>

        <div class="header-banner">
            <!--468x60-->
            <a href="http://www.upinside.com.br/campus" title="Campus UpInside - Cursos Profissionais em TI">
                <img src="http://localhost/Cursos/ws_php/modulos/12-projeto-final\themes\cidadeonline/_tmp/banner_medium.png" title="Campus UpInside - Cursos Profissionais em TI" alt="Campus UpInside - Cursos Profissionais em TI" />
            </a>
        </div><!-- banner -->

        <nav class="main-nav">

            <ul class="top">
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final" title="">Home</a></li>
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/categoria/noticias" title="">Cidade Online</a>
                    <ul class="sub">
                        <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/categoria/aconteceu" title="Últimos acontecimentos na região!">Aconteceu</a></li>
                        <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/categoria/eventos" title="Os eventos mais baladados da região!">Eventos</a></li>
                        <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/categoria/esportes" title="Últimas notícias do mundo dos esportes!">Esportes</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/empresas/onde-comer" title="">Onde Comer</a></li>
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/empresas/onde-ficar" title="">Onde Ficar</a></li>
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/empresas/onde-comprar" title="">Onde Comprar</a></li>
                <li><a href="http://localhost/Cursos/ws_php/modulos/12-projeto-final/empresas/onde-se-divertir" title="">Onde Se Divertir</a></li>
                <li class="search">
					