<article>
    <div class="img slide_img">
	<img alt="#post_title#" title="#post_title#" src="#HOME#/tim.php?src=#HOME#/uploads/#post_cover#&w=460&h=230" />                                
    </div>

    <header>
	<h1><a href="#HOME#/artigo/#post_name#"> #post_title#</a></h1>
	<time datetime="#datetime#" pubdate>#pubdate#Hs</time>
	<p class="tagline">#post_content#</p>
    </header>
</article>
