<article>
    <header>
	<div class="img">
	    <img alt="#empresa_title#" title="#empresa_title#" src="#HOME#/tim.php?src=#HOME#/uploads/#empresa_capa#&w=240&h=120" />  
	</div>
	<hgroup>
	    <h1>#empresa_title#</h1>
	    <h2>#empresa_ramo#</h2>
	</hgroup>
    </header>

    <address>Em: #empresa_cidade#/#empresa_uf#</address>
    <a class="btn" href="#HOME#/empresa/#empresa_name#" title="Ver detalhes de #empresa_title#">Ver Detalhes</a>
</article>