<article>
    <!--120x60-->
    <h1>
	Locais para comer: #empresa_title#
	<a href="#HOME#/empresa/#empresa_name#" title="#empresa_title#" class="img">
	    <img alt="#empresa_title#" title="#empresa_title#" src="#HOME#/tim.php?src=uploads/#empresa_capa#&w=120&h=60" />
	</a>
    </h1>
</article>